@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #333333;
}

.main-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.promo-picture {
  padding: 51px 72px;
  background-image: url("../images/lower-border.svg"), url("../images/promo-gory.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size: 100% auto, cover;
  background-color: 82B3D3;
  margin-bottom: 69px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.paragraph-text{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages-list {
  list-style: none;
  text-align: center;
}

.subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle-light {
  color: #FFFFFF;
}

.advantages-description-light {
  color: #FFFFFF;
}

.advantages-list-item {
  background-color: #FFFFFF;
}

.advantages-list-item-big {
  background-color: #82B3D3;
}

.advantages-list-item-center {
  background-color: #83B3D3;    /*Как можно заменить прозрачность фона без RGBA?*/

}

.services-list {
  list-style: none;
  text-align: center;
}

.services-list-item {
  background-color: #83B3D3;   /*Как можно заменить прозрачность фона без RGBA?*/
}

.services-list-item-center {
  background-color: #FFFFFF;
}

.order-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.button-big {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.subscribe {
  background-color: #83B3D3;
  background-image: url("../images/Subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  color: #FFFFFF;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
}

/*Каталог*/
.inner-header {
  background-image: url("../images/catalog-promo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item .control {
  line-height: 23px;
}

.button {
  font-family: "PT Sans", sans-serif;;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 50px;
  color: #FFFFFF;
}

.button-reset {
  background-color: transparent;
  border-color: transparent;
}

.button-blue {
  background-color: #82B3D3;
  border-color: transparent;
}

.sorting-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control option {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.button-brown {
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  color: #FFFFFF;
}

.pagination-item {
  background-color: #82B3D3;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
}

.pagination-item-current {
  background-color: #F2F2F2;
}

.pagination-current {
  color: #000000;
}

.subscribe-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
