@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #333333;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.main-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 510px;
  display: flex;
  list-style: none;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
}

.navigation-item {
  margin-right: 16px;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-link {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.promo-picture {
  padding: 51px 72px;
  background-image: url("../images/lower-border.svg"), url("../images/promo-gory.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size: 100% auto, cover;
  background-color: 82B3D3;
  text-align: center;
}

.visually-hidden {
  visibility: hidden;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.paragraph-text{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages-list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle-light {
  color: #FFFFFF;
}

.advantages-description-light {
  color: #FFFFFF;
}

.advantages-list-item {
  background-color: #FFFFFF;
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advantages-list-item-big {
  background-color: #82B3D3;
  width: 1200px;
  height: 385px;
  display: flex;
  flex-direction: row;
}

.advantages-list-item-center {
  background-color: #83B3D3;    /*Как можно заменить прозрачность фона без RGBA?*/

}

.services-list {
  list-style: none;
  text-align: center;
  display: flex;
}

.services-list-item {
  background-color: #83B3D3;   /*Как можно заменить прозрачность фона без RGBA?*/
  width: 400px;
  height: 385px;
}

.services-list-item-center {
  background-color: #FFFFFF;
}

.order-wrapper {
  width: 590px;
  height: 215px;
  margin: auto auto;
  text-align: center;
}

.order-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button-big {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.subscribe {
  background-color: #83B3D3;
  background-image: url("../images/Subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1200px;
  height: 415px;
}

.subscribe-title {
  color: #FFFFFF;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  width: 150px;
  justify-self: flex-start;
}

.footer-phone {
  width: 720px;
  margin: 0 auto;
}

.footer-logo {
  margin-left: auto;
  width: 115px;
}

/*Каталог*/

.inner-header {
  background-image: url("../images/catalog-promo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82B3D3;
  color: #FFFFFF;
  padding: 35px 70px 70px;
}

.sorting-header {
  display: flex;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item .control {
  line-height: 23px;
}

.button {
  font-family: "PT Sans", sans-serif;;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 50px;
  color: #FFFFFF;
}

.button-reset {
  background-color: transparent;
  border-color: transparent;
}

.button-blue {
  background-color: #82B3D3;
  border-color: transparent;
}

.sorting-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control option {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0;
  padding: 0;
}

.product-card {
  width: 340px;
  height: 440px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.button-brown {
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  color: #FFFFFF;
}

.pagination {
  display: flex;
  width: 400px;
  list-style: none;
}

.pagination-item {
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  text-align: center;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
}

.pagination-item-current {
  background-color: #F2F2F2;
}

.pagination-current {
  color: #000000;
}

.subscribe-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe-field::placeholder {
  font-family: "PT Sans", sans-serif;
}
